@page "/admin"
@inherits UiBase
@rendermode InteractiveServer

<div class="card-ui p-4">
    <UiTabs>
        <UiTab Title="@Res.Gender" Icon="bi bi-gender-ambiguous">
            <Genders />
        </UiTab>
        <UiTab Title="@Res.Company" Icon="bi bi-building">
            <Companies />
        </UiTab>
        <UiTab Title="@Res.GetString("Position")" Icon="bi bi-person-badge">
            <Positions />
        </UiTab>
    </UiTabs>
</div>
