@page "/admin"
@inherits UiBase
@rendermode InteractiveServer

<div class="card-ui p-4">
    <UiTabs>
        <UiTab Title="@AppResources.CompanyContract" Icon="bi bi-link-45deg">
            <CompanyContracts />
        </UiTab>
        <UiTab Title="@AppResources.CompanyPosition" Icon="bi bi-briefcase">
            <CompanyPositions />
        </UiTab>
        <UiTab Title="@AppResources.HolidayDetails" Icon="bi bi-calendar-event">
            <HolidayDetails />
        </UiTab>
    </UiTabs>
</div>
