@inherits LayoutComponentBase
@using HRMS.Services
@implements IDisposable
@inject LanguageService Lang
@inject IUserService UserService

<div class="page @(Lang.IsRtl ? "rtl" : "ltr")" dir="@(Lang.IsRtl ? "rtl" : "ltr")">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <UiTopBar />

        <div class="content">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <UiErrorContent Exception="ex" />
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </main>
</div>

<UiNotification />
<UiErrorModal />
<UiWorkflowModal />


@code {
    protected override async Task OnInitializedAsync()
    {
        await UserService.LoadUserAsync();
        UserService.OnRoleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        UserService.OnRoleChanged -= StateHasChanged;
    }
}
