@inherits UiBase

<div class="d-flex gap-2">
    <button class="btn btn-sm btn-outline-primary border-0" @onclick="OnEdit" title="@EditTitle">
        <UiIcon Name="pencil" CssClass="small" />
    </button>
    <button class="btn btn-sm btn-outline-danger border-0" @onclick="OnDelete" title="@DeleteTitle">
        <UiIcon Name="trash" CssClass="small" />
    </button>
</div>

@code {
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public string? EditTitle { get; set; }
    [Parameter] public string? DeleteTitle { get; set; }

    protected override void OnInitialized()
    {
        EditTitle ??= Res.Edit;
        DeleteTitle ??= Res.Delete;
    }
}
