@using HRMS.Services
@using System.Globalization
@inject LanguageService Lang

<!DOCTYPE html>
<html lang="@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName)" dir="@(CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.rtl.min.css?v=@DateTime.Now.Ticks" />
    }
    else
    {
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css?v=@DateTime.Now.Ticks" />
    }
    
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="app.css?v=@DateTime.Now.Ticks" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="@(Lang.IsRtl ? "rtl" : "")">
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/culture-helper.js"></script>
    <script src="js/file-download.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
